<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset("/web/bootstrap/css/bootstrap.min.css") }}">
            <link rel="stylesheet" type="text/css" href="{{ asset("/web/jquery_ui/css/flick/jquery-ui-1.8.18.custom.css") }}">
            <link rel="stylesheet" type="text/css" href="{{ asset("/web/style/css/general.css") }}">
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("/web/jquery/jquery-1.7.2.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("/web/jquery_ui/js/jquery-ui-1.8.18.custom.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("/web/bootstrap/js/bootstrap.min.js") }}"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
  <li><a href="/web/login">Login</a></li>
  <li><a href="/web/user">Home</a></li>
  <li><a href="/web/edit_profile">Edit profile</a></li>
  <li><a href="/web/register">Register</a></li>
  
  <li><a href="/web/logout">Logout</a></li>
</ul>
    </div>
  </div>
</div>
        
   <div class="row" id="main">
   
   {% block left_bar %}     

    {% endblock %}
        
        {% block content %}
        {% endblock %}
        </div>
        
        </div>
    </body>
</html>
