{% extends '::base.html.twig' %}


   {% block left_bar %}     
   <div class="span4" id="left_bar">
        <div id="profile_photo">
            <img alt="" src="/web/media/images/ava.jpg">
        </div>
        
        <div id="left_profile_menu" >
            
            <ul class="nav nav-list well">
              <li class="nav-header">
                List header
              </li>
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Library</a>
              </li>
            </ul>
            
        </div>
    </div>
    {% endblock %}

{% block content %}
    <div class="span8" id="right_bar">
        
        <div class="main_header"></div>
        
        <form action="/web/microblog/{{ user.email }}" method="post"{{ form_enctype(form) }} id="microblog_new_message">
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" id="sendMicroblogMessageButton"  class="btn"/>
        </form>
        
        {% for message in messages %}
        
        <div class="wallMessage">
        <div class="wallMessageAuthor">
        {{ message.authorguid }}
        </div>
        {{ message.body }}
        </div>
        
        {% endfor %}
    </div>
    
    <script type="text/javascript">
    /*
    $(document).ready(function() {
        $('#microblog_new_message').submit(function() {
            alert(1);
            ansver = $().post('http://sf2');
            console.log(ansver);
            return true;
            })
        })
*/
    </script>
{% endblock %}

