body
{
	background: #f0f0f0;
}

body>div.container
{
	padding-top: 50px;
}

#main
{
	border: 1px solid #dfdfdf;
	padding-bottom: 20px;
	min-height: 700px;
	
	background: #fff;
	box-shadow: 0 0 3px #e8e8e8;
}

#left_bar
{
	height: 600px;
	border: 1px solid #EEE;
	padding: 7px;
	margin: 6px;
}

#profile_photo
{
	height: 300px;
	overflow: hidden;
}

#profile_photo img
{
	max-width: 300px;
}

#left_profile_menu
{
	margin-top: 12px;
}

.light_block
{
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 6px;
	border-radius: 6px;
}

#right_bar
{
	width: 560px;
}

.main_header
{
	height: 74px;
	background: #F8F8F8;
	border-bottom: 1px solid #DDD;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 1px solid #FAFAFA;
	border-right: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	
	box-shadow: 0 0 5px #ddd;
}

#microblog_new_message
{
	text-align: center;
}

#user_microblogbundle_microblogmessagetype_body
{
	width: 520px;
	min-height: 25px;
}

.wallMessage
{
	min-height: 40px;
	padding: 10px 0px 10px 10px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #FCFCFC;
}

.wallMessage:hover
{
	border-color: #e0e0e0;
}