{% extends '::base.html.twig' %}

{% block content %}

{% if message.msg is defined %}
{{ message.msg }}
{% endif %}

<form action="" method="post"{{ form_enctype(form) }}>
{{ form_errors(form) }}
{{ form_rest(form) }}
<input type="submit" class="btn" />
</form>


<script type="text/javascript">
    $("#register_user_profile_birthdate").datepicker();
</script>
{% endblock %}