{% extends '::base.html.twig' %}



   {% block left_bar %}     
   <div class="span4" id="left_bar">
        <div id="profile_photo">
            <img alt="" src="/web/media/images/ava.jpg">
        </div>
        
        <div id="left_profile_menu" >
            
            <ul class="nav nav-list well">
              <li class="nav-header">
                List header
              </li>
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Library</a>
              </li>
            </ul>
            
        </div>
    </div>
    {% endblock %}



{% block content %}

{% if message.msg is defined %}
{{ message.msg }}
{% endif %}

<form action="" method="post"{{ form_enctype(form) }}>
{{ form_errors(form) }}
{{ form_rest(form) }}
<input type="submit" class="btn"/>
</form>

<script type="text/javascript">
    $("#base_user_profile_birthdate").datepicker({ dateFormat: 'M d, yy'});
</script>
{% endblock %}