{% extends '::base.html.twig' %}


   {% block left_bar %}     
   <div class="span4" id="left_bar">
        <div id="profile_photo">
            <img alt="" src="/web/media/images/ava.jpg">
        </div>
        
        <div id="left_profile_menu" >
            
            <ul class="nav nav-list well">
              <li class="nav-header">
                List header
              </li>
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Library</a>
              </li>
            </ul>
            
        </div>
    </div>
    {% endblock %}

{% block content %}
    <div class="span8" id="right_bar">
        
        <div class="main_header"></div>
        
    </div>
{% endblock %}

